Package: org.daemon.de.netstatd
Architecture: arm
Priority: optional
Section: net
Version: 1.0.5
Maintainer: Thomas Linden <debilater@googlemail.com>
Source: http://www.daemon.de/PalmPreNetstat
Description: org.daemon.de.netstatd
